body {
  overflow-y: auto;
  margin: 0;
  padding-top: 20px;
  font-family: Helvetica, sans-serif;
}

#header {
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

input {
  width: 100%;
  position: fixed;
  top: 40px; 
  left: 0;
  z-index: 1;
}

.text-wrapper {
  width: 100vw;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.text-wrapper p {
  color: black;
  display: none; 
  margin: 5px 0;
  font-size: 25px; 
}

a {
  position: fixed;
  left: 1em;
  bottom: 1em;
}
